/*
 My palete http://colorschemedesigner.com/#0011Trrscw0w0
*/

 .jumbotron-override {
 	
 	background-image: url('images/mainphoto.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	height: 800px;
 	padding-top: 100px;
 }
 
 .navbar-override {
 	background-color: white;
 	border-width: 0px;
 	margin-bottom: 0px;
 }
 
 .navbar-default .navbar-nav > li > a 
  {
  	 color: #A83C3C;	 
  }
  
  .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
  {
  	 color: #920A0A;	 
  }
  
  .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{
	color: #920A0A;
	background-color: #FFF3F3;
}
  
  .navbar-default .navbar-brand
  {
  		color: #A83C3C;
  }
  
  .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
		color:#920A0A;
	}
 
 .footer {
	background-color: lightgrey;
	 
 }
 
 .jumbotron h1 {
 	font-size: 46px;
 }
 
 .simtable {
	display: table; 
 }
 
 .cell {
	display:table-cell;
	vertical-align:middle; 
 }

 .bg-red {
 	background-color: #E12020;	
}

 .bg-darkred {
 	background-color: #920A0A;	
}

 .bg-darkred2 {
 	background-color: #A83C3C;	
}

 .bg-lightred {
 	background-color: #F05656;	
}

 .bg-lightred2 {
 	background-color: #F07F7F;	
}

 .red {
 	color: #E12020;	
}

 .darkred {
 	color: #920A0A;	
}

 .darkred2 {
 	color: #A83C3C;	
}

 .lightred {
 	color: #F05656;	
}

 .lightred2 {
 	color: #F07F7F;	
}

 .white {
	color: white;
}

 small.lighter
 {
	color:#DEDEDE; 
 }