/*
 My palete http://colorschemedesigner.com/#0011Trrscw0w0
*/

 .jumbotron-override {
 	
 	background-image: url('images/mainphoto.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding-top: 150px;
 	height: 800px;
 	padding-top: 100px;
 }
 
 .footer {
	background-color: lightgrey;
	 
 }
 
 .jumbotron h1 {
 	font-size: 46px;
 }
 
 .simtable {
	display: table; 
 }
 
 .cell {
	display:table-cell;
	vertical-align:middle; 
 }

 .bg-red {
 	background-color: #E12020;	
}

 .bg-darkred {
 	background-color: #920A0A;	
}

 .bg-darkred2 {
 	background-color: #A83C3C;	
}

 .bg-lightred {
 	background-color: #F05656;	
}

 .bg-lightred2 {
 	background-color: #F07F7F;	
}

 .red {
 	color: #E12020;	
}

 .darkred {
 	color: #920A0A;	
}

 .darkred2 {
 	color: #A83C3C;	
}

 .lightred {
 	color: #F05656;	
}

 .lightred2 {
 	color: #F07F7F;	
}

 .white {
	color: white;
}

 small.lighter
 {
	color:#DEDEDE; 
 }